<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="game">
      <h1><%= title %></h1>
      <canvas id="gameWindow" width="800" height="600"></canvas>
    </div>

    <script src="/javascripts/globals.js"></script>
    <script src="/javascripts/base/sprite.js"></script>
    <script src="/javascripts/base/Scene.js"></script>
    <script src="/javascripts/base/TitleScreen.js"></script>
    <script src="/javascripts/setup.js"></script>
  </body>
</html>
