<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="game">
      <h1><%= title %></h1>
      <canvas id="gameWindow" width="800" height="600"></canvas>
      <ul>
        <li>Title Screen</li>
        <ul>
          <li>Up Arrow / Down Arrow to toggle through Menu</li>
          <li>Spacebar to select from Menu</li>
        </ul>
        <li>Goku Scene</li>
        <ul>
          <li>Hold spacebar in order to power goku up</li>
          <li>Release spacebar to power down</li>
          <li>Press the 'a' button to have goku kick</li>
          <li>Press esc key to go back to Title Screen</li>
        </ul>
        <li>Runner Scene</li>
        <ul>
          <li>To run press the 'd' key</li>
          <li>Press Esc Key to go back to Title Screen</li>
        </ul>
      </ul>
    </div>

    <script src="/javascripts/globals.js"></script>
    <script src="/javascripts/base/sprite.js"></script>
    <script src="/javascripts/base/scene.js"></script>
    <script src="/javascripts/base/titleScreen.js"></script>
    <script src="/javascripts/setup.js"></script>
  </body>
</html>
